<div class="jegy-info-scrollable">
    <table>
        <tr>
            <td><strong>Honnan:</strong></td>
            <td>{{ jegy?.honnanan }}</td>
        </tr>
        <tr>
            <td><strong>Hova:</strong></td>
            <td>{{ jegy?.hova }}</td>
        </tr>
        <tr>
            <td><strong>Dátum:</strong></td>
            <td>{{ jegy?.datum }}</td>
        </tr>
        <tr>
            <td><strong>Utasok száma:</strong></td>
            <td>{{ jegy?.utasSzam }}</td>
        </tr>
        <tr>
            <td><strong>Kedvezmények:</strong></td>
            <td>{{ jegy?.kedvezmenyek }}</td>
        </tr>
    </table>
</div>
<hr />