<div class="page">
    <h1>Magyar Működő Vasutak</h1>

    <form (ngSubmit)="berletKeres()">
        <div class="form">
            <h2>Bérlettípus</h2>
            <div class="inputok">
                <mat-radio-group [(ngModel)]="selectedBerlet" name="selectedBerlet">
                    <mat-radio-button value="birodalom" matTooltip="Érvényes az egész Birodalom területén"
                        matTooltipPosition="above" aria-label="nagycsaladosTooltip">Birodalom bérlet</mat-radio-button>
                    <mat-radio-button value="tartomany" matTooltip="Csak a tartományon belül használható">Tartomány
                        bérlet</mat-radio-button>
                </mat-radio-group>

                <mat-form-field *ngIf="selectedBerlet === 'tartomany'">
                    <mat-label>Tartományok</mat-label>
                    <mat-select [(ngModel)]="selectedTartomany" name="selectedTartomany">
                        <mat-option *ngFor="let t of tartomanySelect" [value]="t.value">
                            {{ t.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                @if (berletError) {
                <div class="error-message" appBold>
                    {{ berletError }}
                </div>
                }
                <button mat-flat-button color="primary" type="submit">
                    Bérletek keresése
                </button>
            </div>
        </div>
    </form>
</div>