<div class="page">
    <h1>Magyar Működő Vasutak</h1>

    <form [formGroup]="form" (ngSubmit)="berletKeres()">
        <div class="form">
            <h2>Bérlettípus</h2>
            <div class="inputok">
                <mat-radio-group formControlName="selectedBerlet">
                    <mat-radio-button value="birodalom" matTooltip="Érvényes az egész Birodalom területén">Birodalom
                        bérlet</mat-radio-button>
                    <mat-radio-button value="tartomany" matTooltip="Csak a tartományon belül használható">Tartomány
                        bérlet</mat-radio-button>
                </mat-radio-group>

                <mat-form-field *ngIf="form.get('selectedBerlet')?.value === 'tartomany'">
                    <mat-label>Tartományok</mat-label>
                    <mat-select formControlName="selectedTartomany">
                        <mat-option *ngFor="let t of tartomanySelect" [value]="t.value">
                            {{ t.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="error-message" *ngIf="berletError" appBold>
                    {{ berletError }}
                </div>

                <button mat-flat-button color="primary" type="submit">Kosárba</button>
            </div>
        </div>
    </form>

</div>