<div class="page">
    <div class="login-container">



        <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="signup-form">
            <div class="form">
                <h1>Regisztráció</h1>
                <div class="inputok">
                    <mat-form-field appearance="outline" formGroupName="name">
                        <mat-label>Vezetéknév</mat-label>
                        <input matInput type="text" formControlName="lastname" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" formGroupName="name">
                        <mat-label>Keresztnév</mat-label>
                        <input matInput type="text" formControlName="firstname" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Jelszó</mat-label>
                        <input matInput type="password" formControlName="password" required>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Jelszó megint</mat-label>
                        <input matInput type="password" formControlName="rePassword" required>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>

                <div *ngIf="signUpError" class="error-message" appBold>
                    {{ signUpError }}
                </div>

                <div class="gombok">
                    <button mat-flat-button [routerLink]="['/login']">Van már fiókod?</button>
                    <button mat-flat-button type="submit">Regisztráció</button>
                </div>
            </div>
        </form>

        <!-- } -->


        <!-- @if (isLoading) {
        <div class="loading-container">
            <h2>Login in progress</h2>
            <mat-spinner diameter="50"></mat-spinner>
            <p>Please wait...</p>
        </div>
        } -->


    </div>
</div>