<div class="page">
    <div class="login-container">



        <form (ngSubmit)="signup()" class="signup-form">
            <div class="form">
                <h1>Regisztráció</h1>
                <div class="inputok">
                    <mat-form-field appearance="outline">
                        <mat-label>Vezetéknév</mat-label>
                        <input matInput type="veznev" [formControl]="veznev" required>
                        <mat-icon matSuffix>veznev</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Keresztnév</mat-label>
                        <input matInput type="kernev" [formControl]="kernev" required>
                        <mat-icon matSuffix>kernev</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControl]="email" required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Jelszó</mat-label>
                        <input matInput type="password" [formControl]="password" required>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Jelszó megint</mat-label>
                        <input matInput type="password" [formControl]="passwordAgn" required>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>

                @if (signupError) {
                <div class="error-message" appBold>
                    {{ signupError }}
                </div>
                }

                <div class="gombok">
                    <button mat-flat-button [routerLink]="['/login']">Van már fiókod?</button>
                    <button mat-flat-button type="submit">Regisztráció</button>
                </div>
            </div>
        </form>
        <!-- } -->


        <!-- @if (isLoading) {
        <div class="loading-container">
            <h2>Login in progress</h2>
            <mat-spinner diameter="50"></mat-spinner>
            <p>Please wait...</p>
        </div>
        } -->


    </div>
</div>