
.form {
    width: 40%;
    margin: 20px auto;
    border-radius: 8px 8px 0 0;
    background: #ffffff;
    text-align: center;
    opacity: 90%;
}
  
h1 {
    font-family: 'Courier New', Courier, monospace;
    /* margin:10vh 0 2vh 0; */
    color: white;
    background-color: #333;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px 8px 0 0;
}
  
.inputok {
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap:1rem;
}



.gombok{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1rem;

}

.utasokKedvezmenyek{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#utasok{
    height: 20%;
}

.page {
    background-image: url('../../../../public/trainWallpaper.jpg'); 
    background-size: cover;
    background-attachment: fixed; 
    height: calc(100% - 4rem);
    padding: 1rem;

}

button{
    width: 20%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: rgb(255, 200, 0) !important;
    color: #333 !important;
    margin: 0 auto 0;
    opacity: 100%;
    cursor: pointer;
    width: 100px;
}

.custom-snackbar {
    background-color: #1976d2; 
    color: white;
    font-size: 16px;
}