<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="felso" id="felso"></div>
    <app-navbar [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-navbar> <!--  -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="felso"></div>
      <button mat-button (click)="onToggleSidenav(sidenav)" class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <nav>
        <ul>
          <!-- <li><a routerLink="/home" routerLinkActive="active">Jegyvásárlás</a></li>
          <li><a routerLink="/berlet" routerLinkActive="active">Bérletvásárlás</a></li>
          <li><a routerLink="/kosar" routerLinkActive="active">Kosár</a></li> -->

          @for (link of navLinks; track link.path) {
          <li>
            <a [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</a>
          </li>
          }

          @if (isLoggedIn) {
          <li><a routerLink="/profile" routerLinkActive="active">Profil</a></li>
          }

          @if (!isLoggedIn) {
          <li><a routerLink="/login" routerLinkActive="active">Bejelentkezés</a></li>
          }

          @if (isLoggedIn) {
          <li><a href="#" (click)="$event.preventDefault(); logout()">Kijelentkezés</a></li>
          }

        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>