


  
h2 {
    font-family: 'Courier New', Courier, monospace;
    margin:8vh 0 2vh 0;
    color: white;
    background-color: #333;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px 8px 0 0;
}
  
.inputok {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.kedvezmenyek{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 40%;
    border-radius: 5px;
}

.utasokKedvezmenyek{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#utasok{
    height: 20%;
}

.page {
    background-image: url('../../../../public/trainWallpaper.jpg'); 
    background-size: cover;
    background-attachment: fixed; 
    height: calc(100% - 4rem);
    padding: 1rem;

}

button{
    width: 25%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: rgb(255, 200, 0);
    margin: 0 auto 0;
    opacity: 100%;
    cursor: pointer;
    width: 120px;
}
 

.custom-snackbar {
    background-color: #1976d2; 
    color: white;
    font-size: 16px;
}

@media (max-width: 800px) {
    h2 {
        margin-top: 0;
    }
}