html, body { height: 100%; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
.active {
  color: rgb(0, 68, 255)!important;
} 

.error-message {
  color: red;
  padding-bottom: 1rem;
}

.form {
  min-width: 330px;
  max-width: 40%;
  width: 100%; 
  margin: 20px auto;
  border-radius: 8px 8px 0 0;
  background: #ffffff;
  text-align: center;
  opacity: 90%;
}

.page {
  background-image: url('../public/trainWallpaper.jpg'); 
  background-size: cover;
  background-attachment: fixed; 
  height: calc(100% - 4rem);
  padding: 1rem;
}

h1{
  text-align: center;
  /* margin-top: 1%; */
  font-family: 'Courier New', Courier, monospace;
  color:white;
  /* text-shadow: 2px 2px black ; */
}
  
